.Container {
    display: flex;
    color:black;
    padding:5px;
    margin:5px;
    border-bottom: solid black 1px;
}

.Info{ 
    flex:4;
    padding: 10px;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
}

.Info--Title {
    letter-spacing: .1rem;
    font-size: xxx-large;
    font-weight: 700;
    padding: 0px;
    margin:0px;
}

.Info--Data {
    margin-top:0px;
    font-size: small;
    font-weight: 100;
    margin-left: 30px;
    line-height: 50%;
    color: #111;

}

.Avatar{
    flex:1;
    display: flex;
    justify-content: center;
}

.Avatar .Avatar--Img{
    background-color: white;
    color: black;
    height: 125px;
    width: 125px;
    font-size: xx-large;
    border: 1px solid black;
    margin:20px 0px 0px -20px;
}

.Info--Data > .Info--Data_main{
    padding:5px 0px 5px 0px;
}

.Info--Data > .Info--Data_testScore {
    width: 100%;
}

.Info--Data > .Info--Data_main .tagInput{
    border: 0px;
    border-bottom: 1px solid black;
    font-size: medium;
}


.Info--Data > .Info--Data_main .tagInput:focus{ 
    outline: none;
}



.Info--Data .Info--Data_main .Info--Data_tags {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.Info--Data > .Info--Data_main .Info--Data_tags .chip{
    height: 20px;
    width: 50px;
    text-align: center;
    margin:2px;
    padding: 4px;
    background-color: lightgrey;

}

